body {
    margin-left: 10px;
    margin-right: 10px;
}

/* NAV BAR */

.nav {
    background-color: #707070;
    background-size: cover;
    justify-content: space-between;
    display: flex;
    margin:0px;
}

.navText {
    font-display: white;
    text-align: right;
    margin-right: 20px;
    padding-top: 10px;
}

.logo {
    float: left;
    align-content: center;
    padding-top: 15px;
    padding-bottom: 20px;
    margin-left: 20px;
}

.inline-block {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 10px;
}

/* MY SKILLS SECTION */

.My-UX-Skills {
    background-size: 400px;
    font-display: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    text-align: center;
    justify-content: space-between;
    z-index: 1;
}
.bold {
    font-weight: bold;
}

ul {
    list-style: none;
}

li {
    position: relative;
}

button {
    background-color: #707070;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    border-radius: 8px;
    margin-top: 15px;
}

#background {
    width: 100%;
    max-height: 400px;
    z-index: -10;
    margin: -10px;
}

/* MY WORK SECTION */

.myWork {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    text-align: center;
    justify-content: space-evenly;
    -ms-flex-item-align: center;
    z-index: 2;
}

/* FOOTER */

.footer {
    text-align: center;
    justify-content: space-evenly;
    background-color: #707070;
    justify-content: baseline;

}


#toggle {
    border: 1px solid black;
    padding: 10px;
}
